---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="About Me"
    description="Short notes about me and this blog"
    pubDate={new Date("January 17 2026")}
>
    <p>
        Hi there! My name is Sasha (he / his / him), a.k.a. shukolza. <br />
        I am a backend developer, focusing on python and FastAPI. <br />
        I don't really know what else to say 😅 <br />
        This page, among with other pages on this website is always a subject to change.
    </p>
</Layout>
